{{#e-search as |searchHash|}}
  <div class={{searchHash.style.searchBlock}}>
    <div class={{searchHash.style.row}}>
      <label class={{searchHash.style.label}}>Departure airport</label>
      {{e-search/searchDropdown options=searchHash.airports searchHandler=searchHash.searchAirports
        updateHandler=searchHash.updateDepartureAirport selectedOption=searchHash.selectedDepartureAirport}}

      <label class={{searchHash.style.label}}>Destination airport</label>
      {{e-search/searchDropdown options=searchHash.airports searchHandler=searchHash.searchAirports
        updateHandler=searchHash.updateDestinationAirport selectedOption=searchHash.selectedDestinationAirport}}
    </div>
    
    <div class={{searchHash.style.row}}>
      <label>Or</label> 
    </div>

    <div class={{searchHash.style.rightRow}}>
      <label class={{searchHash.style.label}}>Departure city</label>
      {{e-search/searchDropdown options=searchHash.locations searchHandler=searchHash.searchLocations
        updateHandler=searchHash.updateDepartureLocation selectedOption=searchHash.selectedDepartureLocation}}
    </div>

    <div class={{searchHash.style.row}}>
      <button type="button" onclick={{action searchHash.searchForRoutes}} class={{searchHash.style.searchButton}}>Search</button>
      <button type="button" onclick={{action searchHash.clearState}} class={{searchHash.style.searchButton}}>Clear</button>
    </div>
  </div>

  {{#if (not (eq searchHash.routes undefined))}}
    {{#if (is-empty searchHash.routes)}}
      No Results
    {{else}}
      <div class={{searchHash.style.searchBlock}}>
        {{e-search/routes routes=searchHash.routes updateDepartureAirport=searchHash.updateDepartureAirport}}
      </div>      
    {{/if}}
  {{/if}}

  {{#unless (is-empty searchHash.closestAirports)}}
    <div class={{searchHash.style.searchBlock}}>
      {{e-search/availableAirports airports=searchHash.closestAirports updateDepartureAirport=searchHash.updateDepartureAirport}}
    </div>
  {{/unless}}
{{/e-search}}