{{#e-search as |searchHash|}}
  <div class={{searchHash.style.searchBlock}}>
    <div class={{searchHash.style.row}}>
      {{e-search/searchDropdown airports=searchHash.departureAirports searchHandler=searchHash.searchAirports
        updateHandler=searchHash.updateDepartureAirport selectedAirport=searchHash.selectedDepartureAirport
        disabled=false }}
      {{e-search/searchDropdown airports=searchHash.destinationAirports searchHandler=searchAirports.searchAirports
        updateHandler=searchHash.updateDestinationAirport selectedAirport=searchHash.selectedDestinationAirport
        disabled=(is-empty searchHash.destinationAirports)}}
    </div>
  </div>
  {{#unless (is-empty searchHash.routes)}}
    <div class={{searchHash.style.searchBlock}}>
      {{e-search/routes routes=searchHash.routes updateDestinationAirport=searchHash.updateDestinationAirport}}
    </div>

    {{#if (not-eq searchHash.selectedDestinationAirport)}}
      <div class={{searchHash.style.row}}>
        <button type="button" onclick={{action searchHash.clearDestinationAirport}} class={{searchHash.style.searchButton}}>Clear</button>
      </div>
    {{/if}}
  {{/unless}}
{{/e-search}}