{{#e-search as |searchHash|}}
  <div class={{searchHash.style.searchBlock}}>
    <div class={{searchHash.style.row}}>
      <label class={{searchHash.style.label}}>Departure airport</label>
      {{e-search/searchDropdown options=searchHash.departureAirports searchHandler=searchHash.searchAirports searchEnabled=true
        updateHandler=searchHash.updateDepartureAirport selectedOption=searchHash.selectedDepartureAirport
        disabled=false}}

      <label class={{searchHash.style.label}}>Destination airport</label>
      {{e-search/searchDropdown options=searchHash.destinationAirports searchEnabled=false
        updateHandler=searchHash.updateDestinationAirport selectedOption=searchHash.selectedDestinationAirport
        disabled=(is-empty searchHash.destinationAirports)}}
    </div>
    
    <div class={{searchHash.style.row}}>
      <label>Or</label> 
    </div>

    <div class={{searchHash.style.rightRow}}>
      <label class={{searchHash.style.label}}>Departure city</label>
      {{e-search/searchDropdown options=searchHash.locations searchHandler=searchHash.searchLocations searchEnabled=true
        updateHandler=searchHash.updateDepartureLocation selectedOption=searchHash.selectedDepartureLocation
        disabled=false}}
    </div>
  </div>

  {{#unless (is-empty searchHash.routes)}}
    <div class={{searchHash.style.searchBlock}}>
      {{e-search/routes routes=searchHash.routes updateDestinationAirport=searchHash.updateDestinationAirport}}
    </div>

    {{#if (not-eq searchHash.selectedDestinationAirport)}}
      <div class={{searchHash.style.row}}>
        <button type="button" onclick={{action searchHash.clearDestinationAirport}} class={{searchHash.style.searchButton}}>Clear</button>
      </div>
    {{/if}}
  {{/unless}}

  {{#unless (is-empty searchHash.availableAirports)}}
    <div class={{searchHash.style.searchBlock}}>
      {{e-search/availableAirports airports=searchHash.availableAirports updateDepartureAirport=searchHash.updateDepartureAirport}}
    </div>
  {{/unless}}
{{/e-search}}